@use "bootstrap/scss/bootstrap";

@use "./scss/variables";
@use "./scss/color-schemes";
@use "./scss/custom.scss";
@use "./scss/font-optimization.scss";

@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap-icons/font/bootstrap-icons.min.css";